.easy-scss h1,
.easy-scss h2,
.easy-scss h3,
.easy-scss h4 {
    margin: 0;
    padding: 0;
}

.easy-scss .page-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.easy-scss label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    display: block;
    margin-bottom: 8px;
}

.easy-scss .form-row {
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.easy-scss .form-row:last-of-type {
    margin-bottom: 25px;
}
